.breadcrumbs {
  overflow: hidden;
  min-width: 0;
  flex: 1;

  a {
    padding: 0.5rem 0;
    color: light-dark(var(--mantine-color-pmg-9), var(--mantine-color-pmg-2));
  }

  a:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
  }

  margin-top: 0;
  margin-bottom: 0;
}
