.root {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-dark-7)
  );
}

.scroll {
  flex: 1;
  min-height: 0;
}

.scroll :global([data-scrollarea-viewport]) > div {
  min-height: 100%;
}
