.pageListRoot {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100%;
  background-color: #666;
  color: white;
}

.pages {
  display: block;
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  padding-right: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  overscroll-behavior: contain;
  img {
    padding: 1rem 1rem 0rem 1rem;
    width: 600px;
  }
}

.pageItems {
  min-height: max-content;
  padding-bottom: 1rem;
}

.zoomDock {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  z-index: 11;
}

.pageListLoader {
  position: sticky;
  bottom: 1rem;
  left: 1rem;
}
